.x-label{
	text-align:right;
}
.x-label30.x-label-edit > .x-label {
    width: 23%;
}
.x-col{
	padding:0px 0px 0px 0px;
}
.x-row{
	padding:3px 3px 3px 3px;
}
.x-label-edit {
    padding: 0.3em 0;
}
.remind-angle-Css {
	position: absolute;
	color: #FFFFFF;
	vertical-align: super;
	font-family: Arial;
	top: -10%;
	left: 85px;
	width: 20px;
	height: 20px;
	background-color: #ff4141;
	border-radius: 50%;
	text-align: center;
	display: block;
	line-height: 22px;
	font-size: 13px;
	font-weight: normal;
}