 .grid9 .row {
	margin-left: 0;
	margin-right: 0;
}

.grid9 .cell {
  padding: 0;
}

.grid9 .cell .card i {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 32px;
  color: #888;
}
/* .x-contents-content{
	
	height:150px;
} */

.portal-main .x-contents>.x-contents-content {
	overflow: auto;
} 

.grid9 .btn{
	width: 100%;
}

.x-portal .x-contents[xid=carousel]{
	height:288px;		
}

.iosstatusbar .x-portal .x-contents[xid=carousel]{
	height:308px;		
}


.x-portal >.x-panel-top{
	z-index:100;
}
.x-portal >.x-panel-top > .x-titlebar{
	background-color:transparent;
	color: white;
} 
 .remind-angle-Css {
	position: absolute;
	color: #FFFFFF;
	vertical-align: super;
	font-family: Arial;
	top: 11%;
	right:26px;
	width: 20px;
	height: 20px;
	background-color: #ff4141;
	border-radius: 50%;
	text-align: center;
	display: block;
	line-height: 22px;
	font-size: 13px;
	font-weight: normal;
}


