.task{
	padding:0.3em 0;
}

.right-row{
	padding: 0px;
}

.right-col{
	padding: 0px 0px 0px 5px;
}
.left-row{
	padding: 10px;
}
.output7{
	padding-top:0px;
}

.x-label-edit{
	padding:0px;
}
.point{
	padding:3px;
}
/* hr{
	width: 5px;
	height: 30px;
	background-color: red;
	margin: 0 38px;
	
} */