.x-row1{
	padding: 0px;
}
.x-row3{
	padding: 0px;
}

.x-col1{
	padding: 0px 0px 0px 10px;
}

.x-col3{
	padding: 0px 0px 0px 10px;
}

.x-row2{
	padding: 0px;
}

/* .x-row4{
	padding: 0px;
}

.x-col4{
	padding: 0px 0px 0px 0px;
} */

.x-col5{
	padding: 0px 0px 0px 10px;
}